<div>
  <div style="display: flex; flex-direction: column; width: 100%; align-items: stretch;" class="strikes-list">
    {{#each buttons}}
      <button class="ech-strike-button" data-index="{{this.index}}">
          {{#if this.index}}
            <span>{{this.label}}</span>
          {{else}}
            <span>Strike <span class="action-glyph">{{this.glyph}}</span> {{this.label}}</span>
          {{/if}}
        </button>
    {{/each}}
    <div style="display: flex; align-items: center;">
      <img src="{{icon}}" style="height: 30px;">
      <span>{{label}}</span>
    </div>
    {{#if versatileOptions}}
      <div class="versatile-options" style="display: flex;">
        {{#each versatileOptions}}
          <button type="button" class="damage color {{this.value}}{{#if this.selected}} selected{{/if}}" data-tooltip="{{localize this.label}}" value="{{this.value}}" data-action="toggle-versatile" {{disabled this.selected}}>
            <i class="fa-solid fa-{{this.glyph}} fa-fw icon"></i>
          </button>
        {{/each}}
      </div>
    {{/if}}
</div>
